<h1>検索結果</h1>


<div class="container">
    <div class ="row">
          <div class ="col-xs-9">

             <h2>Users</h2>
               <table class ="table table-hover table-inverse">

                  <tr>
                  <th>Image</th>
                  <th>name</th>
                  <th>フォロー数</th>
                  <th>フォロワー数</th>
                  <th>フォローボタン</th>
              </tr>
           <% @users.each do |user| %>
              <tbody>
              	<tr>
              		<td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %></td>
              		<td><%= user.name %></td>
                  <td><%= user.followings.count %></td>
                  <td><%= user.followed.count %></td>
                  <td><%= render '/users/follow_btn', user: user %>
                  </td>
              		<td><%= link_to user_path(user), class: 'show' do %><p>Show</p><td>
              			<% end %>
          <% end %>
              			<tr>
              	</table>



