<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <header class="navbar navbar-fixed-top navbar-inverse">

        <div class="container">
          <nav class = "nav navbar-nav navbar-left">
            <span class = "booktitle">Bookers</span>
          </nav>
      <nav>
          <ul class ="nav navbar-nav navbar-right">


            <% if user_signed_in? %>
            <li><%= form_tag(search_result_path,:method => 'get',class:'navbar-form') do %>
                <%= select_tag :target, options_for_select([["ユーザー","user"], ["本","book"]],:selected=>"user") %>
                <%= select_tag :method, options_for_select([["完全一致","perfect"], ["前方一致","forward"],["後方一致","backward"],["部分一致","partial"]],:selected=>"perfect") %>
                <%= text_field_tag :search, nil %>
                <%= submit_tag 'Search', :name => nil %>
            <% end %>
            </li>

             <li><%= link_to user_path(current_user) do %>
                <span class = "glyphicon glyphicon-home" > Home</span>
             <% end %>
             </li>

            <li><%= link_to users_path do %>
                <span class = "glyphicon glyphicon-user"> Users</span>
            <% end %>
            </li>

            <li><%= link_to books_path do %>
              <span class = "glyphicon glyphicon-book"> Books</span>
            <% end %>
            </li>


            <li><%= link_to destroy_user_session_path, method: :delete do %>
                <span class = "glyphicon glyphicon-log-out">logout</span>
            <% end %>
            </li>

            <% else %>

            <li><%= link_to root_path  do %>
                <sapn class = "glyphicon glyphicon-home"> Home</span>
            <% end %>
           </li>

            <li> <%= link_to home_about_path do %>
              <span class="glyphicon glyphicon-link" > About</span>
              <% end %>
            </li>


            <li> <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-edit" > sign up</span>
              <% end %>
            </li>


            <li> <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in" > login</span>
            <% end %>
          </li>

        <% end %>

         </ul>
     </nav>
</div>
      </header>

    <%= yield %>
         <div class="col-xs-5 col-xs-offset-9">
           <p>CopyRight Infratop.inc</p>
         </div>
  </body>
</html>
